
.box{
    margin: auto;
    padding: 10px;
    width: 50%;
    border-style: dotted;
    border-width: 3px;
    text-align:center;

}
body{
    padding: 100px;
    font-family: 'Montserrat';
}

button{
    margin-top: 5px;
    width: 67%;
    font-family: 'Montserrat';
    border-radius: 50px;
    border-width: 0.5px;
    padding: 5px 10px 5px 10px;

}

.user-input-box input{
    border-radius: 50px;
    margin-right: 18px;
    margin-top: 5px;
    border-width: 0.5px;
    padding: 5px 10px 5px 10px;
}

