#maze{
    width: 480px;
    height: 480px;
    border: 3px solid #000;
    display: grid;
    grid-template-columns: repeat(12,40px);
    grid-template-rows: repeat(12,40px);
    grid-gap: 0px;
    position: relative;

}
.path{
    width: 40px;
    height: 40px;

}
.wall{
    background: #FD4685;

}
#_1{grid-row-start: 1; grid-column-start: 1;}
#_2{grid-row-start: 1; grid-column-start: 2;}
#_3{grid-row-start: 1; grid-column-start: 3;}
#_4{grid-row-start: 1; grid-column-start: 4;}
#_5{grid-row-start: 1; grid-column-start: 5;}
#_6{grid-row-start: 1; grid-column-start: 6;}
#_7{grid-row-start: 1; grid-column-start: 7;}
#_8{grid-row-start: 1; grid-column-start: 8;}
#_9{grid-row-start: 1; grid-column-start: 9;}
#_10{grid-row-start: 1; grid-column-start: 10;}
#_11{grid-row-start: 1; grid-column-start: 12;}
#_12{grid-row-start: 2; grid-column-start: 1;}
#_13{grid-row-start: 2; grid-column-start: 6;}
#_14{grid-row-start: 2; grid-column-start: 10;}
#_15{grid-row-start: 2; grid-column-start: 12;}
#_16{grid-row-start: 3; grid-column-start: 1;}
#_17{grid-row-start: 3; grid-column-start: 3;}
#_18{grid-row-start: 3; grid-column-start: 4;}
#_19{grid-row-start: 3; grid-column-start: 6;}
#_20{grid-row-start: 3; grid-column-start: 8;}
#_21{grid-row-start: 3; grid-column-start: 10;}
#_22{grid-row-start: 3; grid-column-start: 12;}
#_23{grid-row-start: 4; grid-column-start: 1;}
#_24{grid-row-start: 4; grid-column-start: 4;}
#_25{grid-row-start: 4; grid-column-start: 6;}
#_26{grid-row-start: 4; grid-column-start: 8;}
#_27{grid-row-start: 4; grid-column-start: 10;}
#_28{grid-row-start: 4; grid-column-start: 12;}
#_29{grid-row-start: 5; grid-column-start: 1;}
#_30{grid-row-start: 5; grid-column-start: 2;}
#_31{grid-row-start: 5; grid-column-start: 4;}
#_32{grid-row-start: 5; grid-column-start: 8;}
#_33{grid-row-start: 5; grid-column-start: 10;}
#_34{grid-row-start: 5; grid-column-start: 12;}
#_35{grid-row-start: 6; grid-column-start: 1;}
#_36{grid-row-start: 6; grid-column-start: 4;}
#_37{grid-row-start: 6; grid-column-start: 5;}
#_38{grid-row-start: 6; grid-column-start: 6;}
#_39{grid-row-start: 6; grid-column-start: 7;}
#_40{grid-row-start: 6; grid-column-start: 8;}
#_41{grid-row-start: 6; grid-column-start: 10;}
#_42{grid-row-start: 6; grid-column-start: 12;}
#_43{grid-row-start: 7; grid-column-start: 1;}
#_44{grid-row-start: 7; grid-column-start: 3;}
#_45{grid-row-start: 7; grid-column-start: 8;}
#_46{grid-row-start: 7; grid-column-start: 10;}
#_47{grid-row-start: 7; grid-column-start: 12;}
#_48{grid-row-start: 8; grid-column-start: 1;}
#_49{grid-row-start: 8; grid-column-start: 3;}
#_50{grid-row-start: 8; grid-column-start: 5;}
#_51{grid-row-start: 8; grid-column-start: 6;}
#_52{grid-row-start: 8; grid-column-start: 8;}
#_53{grid-row-start: 8; grid-column-start: 10;}
#_54{grid-row-start: 8; grid-column-start: 12;}
#_55{grid-row-start: 9; grid-column-start: 1;}
#_56{grid-row-start: 9; grid-column-start: 3;}
#_57{grid-row-start: 9; grid-column-start: 5;}
#_58{grid-row-start: 9; grid-column-start: 8;}
#_59{grid-row-start: 9; grid-column-start: 10;}
#_60{grid-row-start: 9; grid-column-start: 12;}
#_61{grid-row-start: 10; grid-column-start: 1;}
#_62{grid-row-start: 10; grid-column-start: 3;}
#_63{grid-row-start: 10; grid-column-start: 5;}
#_64{grid-row-start: 10; grid-column-start: 7;}
#_65{grid-row-start: 10; grid-column-start: 8;}
#_66{grid-row-start: 10; grid-column-start: 10;}
#_67{grid-row-start: 10; grid-column-start: 12;}
#_68{grid-row-start: 11; grid-column-start: 1;}
#_69{grid-row-start: 11; grid-column-start: 5;}
#_70{grid-row-start: 11; grid-column-start: 8;}
#_71{grid-row-start: 11; grid-column-start: 12;}
#_72{grid-row-start: 12; grid-column-start: 1;}
#_73{grid-row-start: 12; grid-column-start: 2;}
#_74{grid-row-start: 12; grid-column-start: 3;}
#_75{grid-row-start: 12; grid-column-start: 4;}
#_76{grid-row-start: 12; grid-column-start: 5;}
#_77{grid-row-start: 12; grid-column-start: 6;}
#_78{grid-row-start: 12; grid-column-start: 8;}
#_79{grid-row-start: 12; grid-column-start: 9;}
#_80{grid-row-start: 12; grid-column-start: 10;}
#_81{grid-row-start: 12; grid-column-start: 11;}
#_82{grid-row-start: 12; grid-column-start: 12;}



#pawn{
    background: rgb(132, 66, 149);
    border-radius: 50%;
    grid-row-start: 12;
    grid-column-start: 7;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;

}

#finish{
    background: rgb(158, 230, 158);
    grid-row: 1;
    grid-column: 11;
}